<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>事日报</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/zui/1.5.0/css/zui.min.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/main.css">
</head>
<body>
	

<div class="container-fluid">
	<div class="one_container">
		<div class="one_nav">
			<div class="one_nav_l">
				<h2>
					<a href="{:url('Group/index')}">
						{$groupInfo.name}

						<img src="__PUBLIC__/images/one.png"/>
					</a>
				</h2>
			</div>
			<div class="one_nav_m">
				<a href="one_target.html">一个目标</a>
				<a href="{:url('daily/index',array('group_id'=>$groupInfo['id']))}">日报</a>
				<a href="{:url('thing/index',array('group_id'=>$groupInfo['id']))}" class="active">项目</a>
				<a href="{:url('group/defaultPage',array('group_id'=>$groupInfo['id']))}">人</a>
				<a href="{:url('check/index',array('group_id'=>$groupInfo['id']))}">匿名评论审核</a>
			</div>
			<div class="one_nav_r">
				<span>{$userInfo.nickname}</span>
				（<i class="phone">{$userInfo.mobile}</i>）
				<a href="set.html"><img src="__PUBLIC__/images/set.png"></a>
			</div>
		</div>
		<div class="one_info">
			<div class="one_info_top thing_message_head">
				<span>{$thingResult.name}</span>
				<span>&nbsp;-&nbsp;{$thingResult.user_name}</span>
				<a href="{:url('add',array('group_id'=>$groupInfo['id'],'thing_id'=>$thingResult['id']))}" class="compile_thing">编辑</a>
			</div>
			<div class="thing_message">
				<div class="thing_top" style="border:none;padding-bottom:0;">
					<div class="thing_top_item">
						<a href="{:url('detail',array('thing_id'=>$ThingId,'group_id'=>$groupInfo['id']))}">描述</a>
						<a href="thing_daily_paper.html" class="active">日报</a>
						<input type="hidden" class="thingID" value="{$ThingId}">
						<input type="hidden" class="groupID" value="{$groupInfo.id}">
					</div>
					<div class="thing_bottom">
						<div class="thing_select">
							<select class="select_user">
								<option value="0">全部</option>
								{volist name="userResult" id="UserResult"}
								<option value="{$UserResult.user_id}"{if condition="$select_userID eq $UserResult.user_id"}selected{/if}>{$UserResult.user_name}</option>

								{/volist}
							</select>
						</div>
						<div class="thing_seek">
							 <form name="form1" method="post" action="">
				                <select name="year" style="width: 50px;margin-right: 5px;" class="year1"></select>年
				                <select name="month" style="width: 35px;margin-left:5px;margin-right:5px;" class="month1"></select>月
				                <span>——</span>
				                <select name="year" style="width: 50px;margin-right: 5px;"class="year2"></select>年
				                <select name="month" style="width: 35px;margin-left:5px;margin-right:5px;"class="month2"></select>月
				            </form>
				            <button type="button" class="chaxun">查询</button>
						</div>
					</div>
				</div>
				<div class="one_info">
					<div class="nim_comment">
						<div class="nimc_top comment_list nimc_bottom">
							<ul>
								{volist name="dailyResult" id="dares"}
								<li>
									<h4>
										<span>{$dares.user_name}</span>
										{:date('Y年m月d日 H:i',$dares.create_time)}
									</h4>
									<p>
										{$dares.content}
									</p>
									<a href="{:url('daily/comment',array('dailyplanid'=>$dares['id'],'group_id'=>$groupInfo['id']))}"><h3>评论{$dares.comment_number}条&nbsp;&nbsp;差评{$dares.comment_count}条</h3></a>
								</li>
								{/volist}
								<!--<li>-->
									<!--<h4>-->
										<!--<span>李冰</span>-->
										<!--2016年3月1日 12:00-->
									<!--</h4>-->
									<!--<p>-->
										<!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et -->
			<!--viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.-->
			 <!--Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.-->
									<!--</p>-->
									<!--<a href="comment.html"><h3>评论0条&nbsp;&nbsp;差评0条</h3></a>-->
								<!--</li>-->
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>
</div>

<script src="__PUBLIC__/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js" ></script>

<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdnjs.cloudflare.com/ajax/libs/zui/1.5.0/js/zui.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
$('document').ready(function(){
	
	/**********日期三联动****************/
    /*
     * 生成级联菜单
     */
    var i=2016;
    var date = new Date();
    year = date.getFullYear();//获取当前年份
    var dropList;
    for(i;i<2020;i++){
        if(i == year){
            dropList = dropList + "<option value='"+i+"' selected>"+i+"</option>";
        }else{
            dropList = dropList + "<option value='"+i+"'>"+i+"</option>";
        }
    }
    $('select[name=year]').html(dropList);//生成年份下拉菜单
    var monthly;
    for(month=1;month<13;month++){
        monthly = monthly + "<option value='"+month+"'>"+month+"</option>";
    }
    $('select[name=month]').html(monthly);//生成月份下拉菜单
  })
	$(function() {
		KindEditor.create('textarea.kindeditor', {
		    basePath: 'kindeditor/',
		    bodyClass : 'article-content',
		    resizeType : 1,
		    allowPreviewEmoticons : false,
		    allowImageUpload : false,
		    minHeight:200,
		    items : [
		        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
		        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
		        'insertunorderedlist', '|', 'emoticons', 'image', 'link'
		    ]
		});
	    $('.phone').each(function(){
		    var phone = $(this).text();
		    var mphone = phone.substr(0, 3) + '****' + phone.substr(8,11);
		    $(this).text(mphone)
	    });
		$('.select_user').change(function () {

			var thingID	=	$('.thingID').val();
			var  groupID	=$('.groupID').val();
			var user_id		=$('.select_user').val();
			var url ="{:url('thing/paper')}";
			url=url.substr(0,url.length-5);
			url=url+"/thing_id/"+thingID+"/group_id/"+groupID+"/user_id/"+user_id;
			window.location.href=url;

		})
		$('.chaxun').click(function () {
			var year1=$('.year1').val();
			var year2=$('.year2').val();

			var month1=$('.month1').val();
			var month2=$('.month2').val();

			var date = new Date(2013,09,30);
			var time1=year1+"-"+month1;
			var time2=year2+"-"+month2;
			var url=window.location.href;

			if(url.substr(url.length-1,1)=="l"){

				url=url.substr(0,url.length-5);
			}
			url=url+"/time1/"+encodeURI(time1)+"/time2/"+encodeURI(time2);
			window.location.href=url;

		})
	    
	});
</script>
</body>
</html>