<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>匿名评论审核</title>
	<!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/zui/1.5.0/css/zui.min.css">
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="__PUBLIC__/css/main.css">
</head>
<body>
	

<div class="container-fluid">
	<div class="one_container">
		<div class="one_nav">
			<div class="one_nav_l">
				<h2>
					<a href="{:url('Group/index')}">
						{$groupInfo.name}
						<img src="__PUBLIC__/images/one.png"/>
					</a>
				</h2>
			</div>
			<div class="one_nav_m">
				<a href="{:url('target/index',array('group_id'=>$groupInfo['id']))}">一个目标</a>
				<a href="{:url('daily/index',array('group_id'=>$groupInfo['id']))}">日报</a>
				<a href="{:url('thing/index',array('group_id'=>$groupInfo['id']))}">项目</a>
				<a href="{:url('group/defaultPage',array('group_id'=>$groupInfo['id']))}">人</a>
				{if condition="$Think.session.position_result eq 1"}
				<a href={:url('check/index',array('group_id'=>$groupInfo['id']))}" class="active">匿名评论审核</a>				{/if}

			</div>
			<div class="one_nav_r">
				<span>{$userInfo.nickname}</span>
				（<i class="phone">{$userInfo.mobile}</i>）
				<a href="{:url('Member/userData',array('group_id'=>$groupInfo['id']))}"><img src="__PUBLIC__/images/set.png"></a>
			</div>
		</div>
		<div class="one_info">
			<div class="nim_comment">
				<div class="nimc_top comment_list">
					<h2>待审核&nbsp;{$dailyCommentResultNumber}条
						<a id="" href="{:url('checkComment',array('group_id'=>$groupInfo['id'],'status'=>1))}">全部通过</a>
					</h2>
					<ul>
						{volist name="dailyCommentResult" id="dacom"}
						<li>
							<h4>
								<span>忠言逆耳利于行</span>
								{:date('Y年m月d日 H:i',$dacom.create_time)}
								{if condition="$dacom.type eq 1"}
								<i>差评</i>
								{/if}
								<a class="" href="{:url('checkComment',array('id'=>$dacom['id'],'check'=>1))}">通过</a>
								<a class="" href="{:url('checkComment',array('id'=>$dacom['id'],'check'=>2))}">不通过</a>
							</h4>
							<p>
								{$dacom.content}
							</p>
						</li>
						{/volist}

					</ul>
				</div>
				<div class="nimc_top comment_list nimc_bottom">
					<h2>未通过&nbsp;{$dailyCommentResultFailNumber}条</h2>
					<ul>
						{volist name="dailyCommentResultFail" id="dacomfail"}
						<li>
							<h4>
								<span>忠言逆耳利于行</span>
								{:date('Y年m月d日 H:i',$dacomfail.create_time)}
								{if condition="$dacomfail.type eq 1"}
								<i>差评</i>
								{/if}
							</h4>
							<p>
								{$dacomfail.content}
							</p>
						</li>
						{/volist}

					</ul>
				</div>
			</div>
		</div>	
	</div>
</div>

<script src="__PUBLIC__/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/jquery.min.js" ></script>
<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="//cdnjs.cloudflare.com/ajax/libs/zui/1.5.0/js/zui.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script>
	$(function() {
		KindEditor.create('textarea.kindeditor', {
		    basePath: '__PUBLIC__/kindeditor/',
		    bodyClass : 'article-content',
		    resizeType : 1,
		    allowPreviewEmoticons : false,
		    allowImageUpload : false,
		    minHeight:200,
		    items : [
		        'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
		        'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
		        'insertunorderedlist', '|', 'emoticons', 'image', 'link'
		    ]
		});
		
		$("#content").focus(function(){
			$("#content").text('');
			$(".fcolor_red").hide();
		});
		$("#comment_fb").click(function(){
		    var userName		=	$("#content").text();
			/******判断手机号密码是否为空*******/
			if(userName==''||userName==null||userName==undefined){
	    		$(".fcolor_red").show()
	    						  .text('× 别着急，你还没有写任何东西哟！')
	    						  .css('text-align','left');
	    		return;				  
	    	}else{
	    			  
	    	}
	    });
	});
</script>
</body>
</html>